<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header></app-header>
        <div class="app-main">
           <app-sidebar></app-sidebar>
           <div class="app-main__outer">
              <app-bodymain></app-bodymain>
              <app-footer></app-footer>  
            </div>

        </div>
</div>